<% content_for :title, "いいね一覧 farcle" %>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mt-3">
      <%= render 'shared/users', users: @users %>
    </div>
  </div>
</div>



