<% content_for :title, "フォロワー farcle" %>
<div class="container">
  <div class="row">
    <div class="col-md-10 mt-3">
      <nav class="nav nav-pills nav-fill mb-3">
        <%= link_to "Followers", "#", class: "nav-item nav-link active" %>
        <%= link_to "Followings", user_followings_path(@user), class: "nav-item nav-link" %>
      </nav>
      <h2>Follower Users</h2>
        <% if @users.exists? %>
          <%= render 'user/relationships/follow', user: @user, users: @users %>
        <% else %>
          <p>あなたをフォローしているユーザーはいません</p>
        <% end %>
    </div>
  </div>
</div>