<% content_for :title, "フォロー中 farcle" %>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mt-3">
      <nav class="nav nav-pills nav-fill mb-3">
        <%= link_to "Followers", user_followers_path(@user), class: "nav-item nav-link" %>
        <%= link_to "Followings", "#", class: "nav-item nav-link active" %>
      </nav>
      <h2>Follow Users</h2>
        <% if @users.exists? %>
          <%= render 'shared/users', user: @user, users: @users %>
        <% else %>
        <p>フォロー中のユーザーはいません</p>
        <% end %>
    </div>
  </div>
</div>