<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-10 mx-auto mt-5">
      <div class="card text-white bg-info mt-3">
        <h4 class="card-header">投稿内容を編集する</h4>
          <%= form_with model:@board, local: true do |f| %>
            <div class="card-body">
              <p>タイトル</p>
              <div class="input-group mb-3">
                <%= f.text_field :title, class: "form-control" %>
              </div>
              <p>本文</p>
              <div class="input-group">
                <%= f.text_area :body, class: "form-control" %>
              </div>
              <div class="text-right mt-3">
                <%= f.submit "変更内容を保存", class: "btn btn-outline-light" %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

