<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-5">
      <%= link_to "新規作成", new_board_path, class: "btn btn-success" %>
      <% @boards.each do |board| %>
      <p><%= link_to board.title, board_path(board) %></p>
      <% end %>
    </div>
  </div>
</div>