<% content_for :title, "farcle" %>
<div class="jumbotron jumbotron-fluid bg1">
  <div class="container">
    <%= render "shared/flash_message" %>
    <div class="col-lg-10 col-md-10 col-sm-10">
    <h1 class="display-4 text-white">farcle</h1>
    <p class="lead text-white">~ farmar's circle  農業従事者専用交流サイト~</p>
    <div class="text-center">
      <%= link_to "会員の方はこちらからログインしてください", new_user_session_path, class:"btn btn-outline-light" %>
    </div>
    <div class="text-center mt-3">
      <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, class:"text-light", method: :post %>
    </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg2">
  <div class="container">
     <div class="col-lg-10 col-md-10 col-sm-10">
    <h2 class="display-4 text-white text-center">About farcle</h2>
    <p class="lead text-white text-center mt-5">farcle(ファークル)は農業従事者専用の交流サイトです。</p>
    <p class="lead text-white text-center mt-3">掲示板で日頃の悩みや疑問を相談したり</p>
    <p class="lead text-white text-center mt-3">フォトギャラリーで自慢の生産物や畑を共有することで</p>
    <p class="lead text-white text-center mt-3">農業仲間の輪を広げませんか？</p>
    <div class="text-center mt-4">
      <%= link_to "新規会員登録はこちらから", new_user_registration_path, class:"btn btn-outline-light" %>
    </div>
    </div>
  </div>
</div>


